@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Open+Sans:wght@400;600&display=swap');
.team{
    background-color: #f3f5fa;
}
.sarlavha{
    margin-bottom: 50px;
}
.team-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team-card{
    display: flex;
    border: 2px solid white;
    background-color: white;
    width: 40%;
    margin: 20px 20px;
    border-radius: 5px;
    transition: all 0.7s ease;
    cursor: pointer;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.team-card:hover{
    transform: translateY(-20px)
}
.team-card-img{
    width: 40%;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.team-card img{
    width: 100%;
    border-radius: 50%;
} 
.team-card-body{
    margin-left: 10px;
}
.team-card-text h2{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
    margin-top: 20px;
    font-family: 'Jost', sans-serif;   
}
.team-card-text h3{
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: #7c7c7c;
}
.team-card-text h3::after{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
}
.team-card-text p{
    margin: 10px 0 0 0;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #7c7c7c;
    width: 70%;
}
.team-card-icons{
    margin-top: 20px;
    padding: 10px 0;
}
.team-card-icons i{
    background-color: #eff2f8;
    color: #37517e;
    font-size: 15px;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.team-card-icons i:hover{
    color: white;
    background-color: #47b2e4;
}